:root {
    --inputHeight: 40px;
}

body {
    background-color: rgba(32, 32, 32, 0.822);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(138, 138, 201);
    padding: 15px 20px;
    height: var(--inputHeight);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.header h1 {
    color: beige;
}

.add-button {
    background-color: rgb(142, 214, 120);
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
    width: 75px;
    height: 75px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 55px auto 0; 
    display: block;
}

.add-button:hover {
    transform: scale(1.1);
}
