<<<<<<< HEAD
:root {
    --inputHeight: 40px; 
    --form-control-color: rebeccapurple;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(138, 138, 201);
    padding: 15px 20px;
    height: var(--inputHeight);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    color: beige;
}

body {
    background-color: beige;
}

=======
>>>>>>> origin/main
.color-0 { background-color: #FF9999; color: black; } /* Soft Red */
.color-1 { background-color: #99CCFF; color: black; } /* Soft Blue */
.color-2 { background-color: #FFD966; color: black; } /* Soft Yellow */
.color-3 { background-color: #99E699; color: black; } /* Soft Green */

<<<<<<< HEAD
.answer.correct {
    background-color: rgb(255, 220, 120);
}

.correct {
    background-color: #4CAF50 !important; /* Grønn for riktig */
    color: beige;
}

.wrong {
    background-color: #FF5733 !important; /* Rød for feil */
    color: beige;
}

#next-button {
    background-color: #007bff;
    color: beige;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}

#next-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.quit-button {
    background-color: red;
    color: beige;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
}

.quit-button:hover {
    background-color: darkred;
}

.back-button {
    background-color: green;
    color: beige;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.back-button:hover {
    background-color: darkgreen;
=======
.answer-btn {
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
}

.answer-btn:hover {
    filter: brightness(90%);
>>>>>>> origin/main
}
